.single-product {
  .elementor-add-to-cart {
    form {
      &.cart {
        display: block !important;
        .quantity {
          height: 46px;
        }
      }
      &.variations_form {
        .woocommerce-variation-add-to-cart {
          display: block !important;
        }
      }
    }
  }
}
.variation-PickUpDate,
.variation-Add-on {
  font-size: 14px;
  margin: 0 !important;
}
.elementor-menu-cart__product-name.product-name {
  a {
    color: var(--e-global-color-primary) !important;
  }
}
.spb-booking-box {
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fafafa;
}
.spb-booking-box .spb-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--e-global-color-primary);
  font-weight: 700;
}
.spb-booking-box .spb-fixed-info {
  display: flex;
  gap: 30px;
  font-size: 16px;
}
.spb-booking-box .spb-section {
  margin-bottom: 20px;
}
.spb-booking-box .spb-label {
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
  color: var(--e-global-color-primary);
}
.spb-booking-box #pickup_date {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.spb-booking-box .spb-note {
  font-size: 14px;
  color: #777;
  margin-top: 6px;
  display: block;
}
.spb-booking-box .spb-addon {
  display: flex;
  margin-bottom: 8px;
  font-size: 16px;
  align-items: center;
  gap: 12px;
  .spb-addon-qty {
    margin-top: 15px;
    margin-left: 20px;
    width: 70px;
    display: none;
    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
  img {
    width: 45px;
  }
}
.spb-booking-box .spb-walkin-note {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}
.quantity .qty {
  width: 80px !important;
}
