#checkout-shortcode-block {
  .woocommerce-form-coupon-toggle {
    display: none;
  }
  .spb-label {
    font-size: 28px;
    border: none;
    color: #333;
    padding: 0px;
    font-weight: 600;
  }
}
