.is-out-of-stock {
  color: gray;
  opacity: 0.4;
  pointer-events: none;
}
.custom-checkout-warning {
  margin: 15px 0px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  strong {
    margin-bottom: 20px;
  }
}
.c_loader {
  position: relative;
  z-index: 999;
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 50%;
    width: 24px;
    height: 24px;
    border: 5px solid var(--e-global-color-primary);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 1000;
  }
}
.variations_form {
  .blockOverlay,
  .blockMsg {
    display: none !important;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
