//Button
.elementor-button--view-cart {
  background-color: var(--e-global-color-primary) !important;
  color: #ffffff !important;
  border: 1px solid var(--e-global-color-primary) !important;
  border-radius: 8px !important;
}
.elementor-button--checkout {
  background-color: transparent !important ;
  color: var(--e-global-color-primary) !important;
  border: 1px solid var(--e-global-color-primary) !important;
  border-radius: 8px !important;
}
.elementor-menu-cart__product-remove {
  border: 1px solid var(--e-global-color-primary) !important;
  color: var(--e-global-color-primary) !important;
  &::before,
  &::after {
    background: var(--e-global-color-primary) !important;
  }
}
.elementor-menu-cart__product-price {
  .product-quantity {
    color: var(--e-global-color-1577aa9) !important;
  }
  color: var(--e-global-color-primary) !important;
}

.product-name {
  h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 42px;
  }
}

.head-info {
  p {
    margin-bottom: 0 !important;
  }
}
